#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define TEST    1
#define SYM     2
#define NAVI    3
#define FKEYS   4
#define ADJUST  5

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <175>;    // <---[[moderate duration]]
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        copy: copy {
            compatible = "zmk,behavior-tap-dance";
            label = "COPY";
            #binding-cells = <0>;
            bindings = <&kp C>, <&kp LC(C)>;
        };

        paste: paste {
            compatible = "zmk,behavior-tap-dance";
            label = "PASTE";
            #binding-cells = <0>;
            bindings = <&kp V>, <&kp LC(V)>;
        };

        slow_hm: slow_hm {
            compatible = "zmk,behavior-hold-tap";
            label = "SLOW_HM";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            quick-tap-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        tap_dance_mod_tap: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MOD_TAP";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&layer_modifier 2 LCTRL>;

            tapping-term-ms = <200>;
        };
    };

    macros {
        layer_modifier: layer_modifier {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings =
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER &macro_param_2to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_param_2to1 &kp MACRO_PLACEHOLDER &macro_param_1to1 &mo MACRO_PLACEHOLDER>;

            label = "LAYER_MODIFIER";
            wait-ms = <0>;
            tap-ms = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            //  ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┐                              ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┐
            //  ┆ TAB  ┆  Q   ┆  W   ┆  E   ┆  R   ┆  T   ┆                              ┆  Y   ┆  U   ┆  I   ┆  O   ┆  P   ┆      ┆
            //  ┆      ┆      ┆      ┆      ┆      ┆      ┆                              ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  ├╌╌╌╌╌╌╔══════╦══════╦══════╦══════╗╌╌╌╌╌╌┤                              ├╌╌╌╌╌╌╔══════╦══════╦══════╦══════╗╌╌╌╌╌╌┤
            //  ┆ CTRL ║  A   ║  S   ║  D   ║  F   ║  G   ┆                              ┆  H   ║  J   ║  K   ║  L   ║  ;   ║ DEL  ┆
            //  ┆ ESC  ║      ║      ║      ║      ║      ┆                              ┆      ║      ║      ║      ║  :   ║      ┆
            //  ├╌╌╌╌╌╌╚══════╩══════╩══════╩══════╝╌╌╌╌╌╌┼╌╌╌╌╌╌┬╌╌╌╌╌╌┐  ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┼╌╌╌╌╌╌╚══════╩══════╩══════╩══════╝╌╌╌╌╌╌┤
            //  ┆ SHIFT┆  Z   ┆  X   ┆  C   ┆  V   ┆  B   ┆CAPS  ┆ADJUST┆  ┆PRINT ┆  RET ┆  N   ┆  M   ┆  <   ┆  >   ┆  ?   ┆      ┆
            //  ┆      ┆      ┆      ┆      ┆      ┆      ┆  LOCK┆      ┆  ┆SCREEN┆      ┆      ┆      ┆  ,   ┆  .   ┆  /   ┆      ┆
            //  └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┆  ┆╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘
            //                       ┆ FKEYS┆  GUI ┆ LALT ┆ CTRL ┆  SYM ┆  ┆ BSPC ┆ SHIFT┆ NAVI ┆ RALT ┆ FKEYS┆
            //                       ┆      ┆      ┆ TAB  ┆ SPACE┆      ┆  ┆      ┆  RET ┆      ┆      ┆      ┆
            //                       └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘  └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘

            bindings = <
&kp TAB        &kp Q            &kp W                &kp E        &kp R         &kp T                                            &kp Y  &kp U         &kp I        &kp O                &kp P                    &kp BACKSLASH
&mt LCTRL ESC  &slow_hm LWIN A  &slow_hm LEFT_ALT S  &hm LCTRL D  &hm LSHIFT F  &kp G                                            &kp H  &hm RSHIFT J  &hm RCTRL K  &slow_hm LEFT_ALT L  &slow_hm LWIN SEMICOLON  &kp DEL
&kp LSHFT      &kp Z            &kp X                &kp C        &kp V         &kp B    &kp CLCK   &mo 6  &kp PSCRN  &kp RET    &kp N  &kp M         &kp COMMA    &kp DOT              &kp FSLH                 &none
                                                     &sl 5        &none         &kp TAB  &kp SPACE  &mo 3  &kp BSPC   &kp ENTER  &mo 4  &kp RALT      &mo 5
            >;
        };

        gaming {
            //  ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┐                              ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┐
            //  ┆ TAB  ┆  T   ┆  Q   ┆  W   ┆  E   ┆  R   ┆                              ┆  Y   ┆  U   ┆  I   ┆  O   ┆  P   ┆      ┆
            //  ┆      ┆      ┆      ┆      ┆      ┆      ┆                              ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  ├╌╌╌╌╌╌╔══════╦══════╦══════╦══════╗╌╌╌╌╌╌┤                              ├╌╌╌╌╌╌╔══════╦══════╦══════╦══════╗╌╌╌╌╌╌┤
            //  ┆ CTRL ║  G   ║  A   ║  S   ║  D   ║  F   ┆                              ┆  H   ║  J   ║  K   ║  L   ║  ;   ║ DEL  ┆
            //  ┆ ESC  ║      ║      ║      ║      ║      ┆                              ┆      ║      ║      ║      ║  :   ║      ┆
            //  ├╌╌╌╌╌╌╚══════╩══════╩══════╩══════╝╌╌╌╌╌╌┼╌╌╌╌╌╌┬╌╌╌╌╌╌┐  ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┼╌╌╌╌╌╌╚══════╩══════╩══════╩══════╝╌╌╌╌╌╌┤
            //  ┆ SHIFT┆  Z   ┆  X   ┆  C   ┆  V   ┆  B   ┆CAPS  ┆ADJUST┆  ┆PRINT ┆  RET ┆  N   ┆  M   ┆  <   ┆  >   ┆  ?   ┆      ┆
            //  ┆      ┆      ┆      ┆      ┆      ┆      ┆  LOCK┆      ┆  ┆SCREEN┆      ┆      ┆      ┆  ,   ┆  .   ┆  /   ┆      ┆
            //  └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┆  ┆╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘
            //                       ┆ FKEYS┆      ┆ LALT ┆ CTRL ┆  SYM ┆  ┆ BSPC ┆ SHIFT┆ NAVI ┆ RALT ┆ FKEYS┆
            //                       ┆      ┆      ┆      ┆      ┆  RET ┆  ┆      ┆  RET ┆      ┆      ┆      ┆
            //                       └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘  └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘

            bindings = <
&kp TAB        &kp T  &kp Q  &kp W  &kp E     &kp R                                                    &kp Y  &kp U     &kp I      &kp O    &kp P     &none
&mt LCTRL ESC  &kp G  &kp A  &kp S  &kp D     &kp F                                                    &kp H  &kp J     &kp K      &kp L    &kp SEMI  &kp DEL
&kp LSHFT      &kp Z  &kp X  &kp C  &kp V     &kp B  &kp ESCAPE  &mo 6      &kp PSCRN  &kp RET         &kp N  &kp M     &kp COMMA  &kp DOT  &kp FSLH  &none
                             &none  &kp LALT  &mo 5  &kp SPACE   &lt 2 RET  &kp BSPC   &mt RSHIFT RET  &mo 4  &kp RALT  &mo 5
            >;
        };

        sym_layer {
            //  ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┐                              ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┐
            //  ┆   ~  ┆  !   ┆  @   ┆  #   ┆  $   ┆  %   ┆                              ┆  ^   ┆  &   ┆  *   ┆  (   ┆  )   ┆  \   ┆
            //  ┆   `  ┆      ┆      ┆      ┆      ┆      ┆                              ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  ├╌╌╌╌╌╌╔══════╦══════╦══════╦══════╗╌╌╌╌╌╌┤                              ├╌╌╌╌╌╌╔══════╦══════╦══════╦══════╗╌╌╌╌╌╌┤
            //  ┆      ║      ║      ║      ║      ║      ┆                              ┆      ║      ║      ║      ║      ║      ┆
            //  ┆      ║  1   ║  2   ║  3   ║  4   ║  5   ┆                              ┆  '   ║  -   ║  =   ║  [   ║  ]   ║  |   ┆
            //  ├╌╌╌╌╌╌╚══════╩══════╩══════╩══════╝╌╌╌╌╌╌┼╌╌╌╌╌╌┬╌╌╌╌╌╌┐  ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┼╌╌╌╌╌╌╚══════╩══════╩══════╩══════╝╌╌╌╌╌╌┤
            //  ┆      ┆      ┆      ┆      ┆      ┆      ┆SCROLL┆      ┆  ┆INSERT┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  ┆      ┆  6   ┆  7   ┆  8   ┆  9   ┆  0   ┆  LOCK┆ LALT ┆  ┆      ┆      ┆  "   ┆  _   ┆  +   ┆  {   ┆  }   ┆      ┆
            //  └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┆  ┆╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘
            //                       ┆      ┆      ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆
            //                       ┆      ┆      ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆
            //                       └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘  └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘

            bindings = <
&kp GRAV  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT                                          &kp CARET  &kp AMPS        &kp STAR   &kp LPAR  &kp RPAR  &kp BSLH
&trans    &kp N1    &kp N2  &kp N3    &kp N4    &kp N5                                             &kp SQT    &kp MINUS       &kp EQUAL  &kp LBKT  &kp RBKT  &kp PIPE
&trans    &kp N6    &kp N7  &kp N8    &kp N9    &kp N0     &kp SLCK  &kp LALT  &kp INSERT  &none   &kp DQT    &kp UNDERSCORE  &kp PLUS   &kp LBRC  &kp RBRC  &trans
                            &trans    &trans    &trans     &trans    &trans    &trans      &trans  &trans     &trans          &trans
            >;
        };

        sym_layer_hrm {
            bindings = <
&kp GRAV  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT                                          &kp CARET  &kp AMPS               &kp STAR         &kp LPAR            &kp RPAR            &kp BSLH
&trans    &kp N1    &kp N2  &kp N3    &kp N4    &kp N5                                             &kp SQT    &hm RIGHT_SHIFT MINUS  &hm RCTRL EQUAL  &slow_hm LALT LBKT  &slow_hm LWIN RBKT  &kp PIPE
&trans    &kp N6    &kp N7  &kp N8    &kp N9    &kp N0     &kp SLCK  &kp LALT  &kp INSERT  &none   &kp DQT    &kp UNDERSCORE         &kp PLUS         &kp LBRC            &kp RBRC            &trans
                            &trans    &trans    &trans     &trans    &trans    &trans      &trans  &trans     &trans                 &trans
            >;
        };

        navi_layer {
            //  ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┐                              ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┐
            //  ┆      ┆      ┆      ┆      ┆      ┆      ┆                              ┆ PGUP ┆ HOME ┆  ⬆   ┆ END  ┆VOL UP┆      ┆
            //  ┆      ┆      ┆      ┆      ┆      ┆      ┆                              ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  ├╌╌╌╌╌╌╔══════╦══════╦══════╦══════╗╌╌╌╌╌╌┤                              ├╌╌╌╌╌╌╔══════╦══════╦══════╦══════╗╌╌╌╌╌╌┤
            //  ┆      ║ SHIFT║ CTRL ║ GUI  ║ ALT  ║      ┆                              ┆ PGDN ║  ⬅   ║  ⬇   ║  ➡   ║VOL DN║      ┆
            //  ┆      ║      ║      ║      ║      ║      ┆                              ┆      ║      ║      ║      ║      ║      ┆
            //  ├╌╌╌╌╌╌╚══════╩══════╩══════╩══════╝╌╌╌╌╌╌┼╌╌╌╌╌╌┬╌╌╌╌╌╌┐  ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┼╌╌╌╌╌╌╚══════╩══════╩══════╩══════╝╌╌╌╌╌╌┤
            //  ┆      ┆      ┆      ┆BRIGHT┆BRIGHT┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆MPREV ┆MPAUSE┆MNEXT ┆      ┆      ┆
            //  ┆      ┆      ┆      ┆  DOWN┆   UP ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┆  ┆╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘
            //                       ┆      ┆      ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆
            //                       ┆      ┆      ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆
            //                       └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘  └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘

            bindings = <
&none  &none     &none                 &none      &none           &none                                        &kp PG_UP  &kp HOME    &kp UP    &kp END     &kp C_VOL_UP  &none
&none  &kp LWIN  &kp LEFT_ALT          &kp LCTRL  &kp LEFT_SHIFT  &none                                        &kp PG_DN  &kp LEFT    &kp DOWN  &kp RIGHT   &kp C_VOL_DN  &none
&none  &none     &kp C_BRIGHTNESS_DEC  &none      &kp C_BRI_UP    &none   &none   &none   &none   &kp C_POWER  &none      &kp C_PREV  &kp C_PP  &kp C_NEXT  &none         &none
                                       &trans     &trans          &trans  &trans  &trans  &trans  &trans       &trans     &trans      &trans
            >;
        };

        fkey_layer {
            //  ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┐                              ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┐
            //  ┆      ┆  F9  ┆ F10  ┆  F11 ┆ F12  ┆      ┆                              ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  ┆      ┆      ┆      ┆      ┆      ┆      ┆                              ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  ├╌╌╌╌╌╌╔══════╦══════╦══════╦══════╗╌╌╌╌╌╌┤                              ├╌╌╌╌╌╌╔══════╦══════╦══════╦══════╗╌╌╌╌╌╌┤
            //  ┆      ║  F5  ║  F6  ║  F7  ║  F8  ║      ┆                              ┆      ║ ALT  ║ GUI  ║ CTRL ║SHIFT ║      ┆
            //  ┆      ║      ║      ║      ║      ║      ┆                              ┆      ║      ║      ║      ║      ║      ┆
            //  ├╌╌╌╌╌╌╚══════╩══════╩══════╩══════╝╌╌╌╌╌╌┼╌╌╌╌╌╌┬╌╌╌╌╌╌┐  ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┼╌╌╌╌╌╌╚══════╩══════╩══════╩══════╝╌╌╌╌╌╌┤
            //  ┆      ┆  F1  ┆  F2  ┆  F3  ┆  F4  ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┆  ┆╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘
            //                       ┆      ┆      ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆
            //                       ┆      ┆      ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆
            //                       └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘  └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘

            bindings = <
&none  &kp F9  &kp F10  &kp F11  &kp F12  &none                                   &none   &none       &none      &none         &none     &none
&none  &kp F5  &kp F6   &kp F7   &kp F8   &none                                   &none   &kp RSHIFT  &kp LCTRL  &kp LEFT_ALT  &kp LWIN  &none
&none  &kp F1  &kp F2   &kp F3   &kp F4   &none   &none   &none   &none   &none   &none   &none       &none      &none         &none     &none
                        &trans   &trans   &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans
            >;
        };

        adjust_layer {
            //  ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┐                              ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┬╌╌╌╌╌╌┐
            //  ┆  BLE ┆  BT0 ┆  BT1 ┆  BT2 ┆  BT3 ┆  BT4 ┆                              ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  ┆      ┆      ┆      ┆      ┆      ┆      ┆                              ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  ├╌╌╌╌╌╌╔══════╦══════╦══════╦══════╗╌╌╌╌╌╌┤                              ├╌╌╌╌╌╌╔══════╦══════╦══════╦══════╗╌╌╌╌╌╌┤
            //  ┆  USB ║      ║      ║      ║      ║      ┆                              ┆      ║      ║      ║      ║      ║      ┆
            //  ┆      ║      ║      ║      ║      ║      ┆                              ┆      ║      ║      ║      ║      ║      ┆
            //  ├╌╌╌╌╌╌╚══════╩══════╩══════╩══════╝╌╌╌╌╌╌┼╌╌╌╌╌╌┬╌╌╌╌╌╌┐  ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┼╌╌╌╌╌╌╚══════╩══════╩══════╩══════╝╌╌╌╌╌╌┤
            //  ┆BT_CLR┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆  ┆ TEST ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┆  ┆╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘
            //                       ┆      ┆      ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆
            //                       ┆      ┆      ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆
            //                       └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘  └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘

            bindings = <
&out OUT_BLE  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                  &none   &none   &none   &none  &none  &none
&out OUT_USB  &none         &none         &none         &none         &none                                         &none   &none   &none   &none  &none  &none
&bt BT_CLR    &none         &none         &none         &none         &none         &trans  &trans  &tog 1  &none   &none   &none   &none   &none  &none  &none
                                          &none         &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        template_layer {
            //  ┌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┐                              ┌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┐
            //  ┆      ┆      ┆      ┆      ┆      ┆      ┆                              ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  ┆      ┆      ┆      ┆      ┆      ┆      ┆                              ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  ├╌╌╌╌╌╌╔══════╦══════╦══════╦══════╗╌╌╌╌╌╌┤                              ├╌╌╌╌╌╌╔══════╦══════╦══════╦══════╗╌╌╌╌╌╌┤
            //  ┆      ║      ║      ║      ║      ║      ┆                              ┆      ║      ║      ║      ║      ║      ┆
            //  ┆      ║      ║      ║      ║      ║      ┆                              ┆      ║      ║      ║      ║      ║      ┆
            //  ├╌╌╌╌╌╌╚══════╩══════╩══════╩══════╝╌╌╌╌╌╌┼╌╌╌╌╌╌┬╌╌╌╌╌╌┐  ┌╌╌╌╌╌╌┬╌╌╌╌╌╌┼╌╌╌╌╌╌╚══════╩══════╩══════╩══════╝╌╌╌╌╌╌┤
            //  ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆      ┆
            //  └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┆  ┆╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘
            //                       ┆      ┆      ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆
            //                       ┆      ┆      ┆      ┆      ┆      ┆  ┆      ┆      ┆      ┆      ┆      ┆
            //                       └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘  └╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┴╌╌╌╌╌╌┘

            bindings = <
&none  &none  &none  &none   &none   &none                                   &none   &none   &none   &none  &none  &none
&none  &none  &none  &none   &none   &none                                   &none   &none   &none   &none  &none  &none
&none  &none  &none  &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none  &none  &none
                     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};

/ {
    combos { compatible = "zmk,combos"; };
};
