if SHIELD_LOSS_RIGHT

config ZMK_KEYBOARD_NAME
    default "IsThisLoss"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LOSS_RIGHT || SHIELD_LOSS_LEFT

config ZMK_SPLIT
    default y

endif
